<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Users</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body style="background: #ecf0f1;">
	<div class="container">
		<div class="row">
			<h1>List of Users</h1>
		</div>
		<a class="btn btn-warning" th:href="@{/admin}" href="#" ><strong>admin-home</strong></a>
		<form class="form-inline" action="/admin/users/find" method="post" style="padding-top: 5px">
			<div class="form-group">
				
				<input
					type="text" 
					class="form-control" 
					id="staticEmail2"
					style="width:5in" 
					name="finduser"
					placeholder="Enter user here..."
					>
					<br>
			
					
			</div>
			 <input type="submit" value="Find User" style=" background: yellow;border: solid black;padding: 5px; margin-left: 20px">
		</form>
		<table class="table table-striped table-bordered" style="margin-top: 5px">
			<thead class="table-dark">
				<tr>
					<th>User-Name</th>
					<th>User-Email</th>
					<th>User-Password</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="users:${userlist}">
					<td th:text=${users.userName}></td>
					<td th:text=${users.userEmail}></td>
					<td th:text=${users.userPassword}></td>
				</tr>
			</tbody>

		</table>
	</div>
</body>
</html>